#Database connection
DB_PASS=prueba
DB_NAME=aluxion
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

#S3 config
AWS_S3_ACCESS_KEY=
AWS_S3_KEY_SECRET=
AWS_S3_BUCKET=

#Sarcher config
SEARCHER_ACCESS_KEY=3yXYS-w57VeVloKFFQ2Hxk2qEiPcGPtM57pzVjgU_Eg

JWT_SECRET_KEY=

#SMTP config
SMTP_HOST=smtpout.secureserver.net
SMTP_PORT=465
SMTP_USER=no-reply@solvento.co
SMTP_PASS=pruebaaluxion
SMTP_TLS=SSL/TLS